<div layout="row">
    <div flex></div>
    <div layout="row" flex="40" layout-align="center center">
        <div layout="column" flex>
            <div layout="row" layout-align="space-around center">
                <md-button class="md-raised" ng-class="{'md-primary': checkState('login')}" ui-sref="app.main.login">Sign-in</md-button>
                <md-button class="md-raised" ng-class="{'md-primary': checkState('register')}" ui-sref="app.main.register">Register</md-button>
            </div>
            <div layout="row">
                <div flex></div>
                <div ui-view="login"></div>
                <div ui-view="register"></div>
                <div flex></div>
            </div>
        </div>
    </div>
    <div flex></div>
</div>