<md-content layout="column" ng-show="classes" md-theme="default">
    <div layout="row" layout-align="center center">
        <h1 style="text-align: center;" flex> {{ week }} неделя </h1>
        <md-datepicker style="margin-left: -203px;" ng-model="selectedDate" md-placeholder="Enter date" md-min-date="semester.startTimestamp" md-max-date="semester.endTimestamp" md-date-filter="disabledWeekendsPredicate"></md-datepicker>
        <div flex="5"></div>
    </div>
    <div layout="row">
        <div flex layout="column" id="schedule-container">
            <div layout="row" layout-align="center stretch" class="schedule-color">
                <div class="schedule-cell" md-colors="{background: 'default-primary'}"></div>
                <div class="schedule-cell" ng-repeat="d in dates" flex layout-align="center center" md-colors="{background: 'default-primary'}">
                    <p>{{ d | rdate:'WD' }} <b>{{ d | rdate: 'dd.mm' }}</b></p>
                </div>
            </div>
            <div>
                <div layout="row" ng-repeat="order in [0,1,2,3] track by $index" class="schedule-color">
                    <div class="schedule-cell" layout-align="center center" layout="row" md-colors="{'background': (order % 2 == 0) ? 'default-primary-hue-1' : 'default-primary'}">
                        <p>{{ times[order] }}</p>
                    </div>
                    <div md-whiteframe="2" ng-repeat="day in [0,1,2,3,4] track by $index" ng-class="{'schedule-cell-active' : activeDay == day}" md-colors="{'background': (order % 2 == 0) ? 'default-background-hue-3' : 'default-background-hue-2'}" flex>
                        <div layout="row" ng-if="checkSubgroup(classes[day][order])" layout-padding ng-click="onClassClick(classes[day][order], $event)">
                            <div layout="column" flex>
                                <div><b>{{ getClassType(classes[day][order]) + ' ' + classes[day][order].subjectName }} {{ classes[day][order].subgroup ? ('(' + classes[day][order].subgroup + ')') : '' }}</b></div>
                                <div>{{ getProfName(day, order) }}</div>
                                <label ng-repeat="room in classes[day][order].rooms">{{ room.name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
</md-content>