<div layout="column">
    <div layout="row">
        <div flex="30" flex-md="25" flex-lg="20" flex-xl="15" id="main-menu" layout="column" ng-controller="studentMenuController" stretch-down>
            <div layout="row" ng-repeat="item in menuItems">
                <div flex class="menu-item {{ activeMenuItem == item ? 'menu-item-active' : '' }}" ng-click="setActiveItem(item)">
                    <md-icon md-svg-icon="images/icons/{{ item.icon }}.svg"></md-icon>    {{ item.text }}
                </div>
                <div class="menu-pointer {{ activeMenuItem != item ? 'menu-pointer-hidden' : '' }}">
                    <div class="menu-pointer-inset"></div>
                </div>
            </div>
            <div layout="row" id="search-box">
                <md-input-container flex-offset="15" flex="75">
                    <md-icon md-svg-src="images/icons/search_icon.svg"></md-icon>
                    <input type="text">
                </md-input-container>
            </div>
            <div class="filler" flex></div>
        </div>
        <div flex layout="column">
            <div ui-view="profile"></div>
            <div ui-view="news"></div>
            <div ui-view="group"></div>
            <div ui-view="schedule"></div>
            <div ui-view="subjects"></div>
        </div>
        <div flex="15" hide show-gt-md></div>
    </div>
</div>