<div md-whiteframe="7" layout="column">
    <div flex="25">
        <p>{{ subjectName }}</p>
    </div>
    <div flex="30" ng-click="showAlbums()">Альбомы: {{ albumCount }}</div>
    <div flex="10" title="{{ fullName }}">{{ assignedProf }}</div>
    <div flex></div>
    <div layout="row" flex="30">
        <div flex="10"></div>
        <div flex layout="column">
            <div flex="25" style="text-align: center" ng-click="asgClick()">Работы</div>
            <md-divider></md-divider>
            <div style="text-align: center" flex>
                <md-input-container md-block style="width: 100%">
                    <label>Подгруппа</label>
                    <md-select ng-model="subgroup" ng-change="subgroupChanged()">
                        <md-option value=""></md-option>
                        <md-option value="1">1</md-option>
                        <md-option value="2">2</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div flex="10"></div>
    </div>
</div>