<md-dialog aria-label="Assignments" style="max-height: 80%; max-width: 80%; min-width: 400px">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>Работы</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-svg-src="images/icons/ic_clear_black_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    
    <md-dialog-content>
        <md-tabs md-dynamic-height>
            <md-tab label="Лабораторные">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="lab in labs">
                            <div class="md-list-item-text">
                                <h3>Лабораторная работа №{{lab.order}}</h3>
                                <p>{{ lab.theme }}</p>
                                <p>{{ lab.desc ? lab.desc : 'Описание отсутствует' }}</p>
                            </div>
                            <md-switch class="md-secondary md-warn" ng-model="lab.completed" ng-change="updateStatus(lab)"></md-switch>
                            <md-button class="md-secondary md-warn" ng-click="deleteAsg('lab', lab)">
                                <md-icon md-svg-src="images/icons/round-delete-button.svg"></md-icon>
                            </md-button>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-click="close()">Закрыть</md-button>
    </md-dialog-actions>
</md-dialog>